<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>581189176802-76f7rjt7vlvs5rvfl20qb7rt6ohv76j9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.581189176802-76f7rjt7vlvs5rvfl20qb7rt6ohv76j9</string>
	<key>API_KEY</key>
	<string>AIzaSyAmidJi4iDwRzWRx92qBEAx7n3UUJ_8070</string>
	<key>GCM_SENDER_ID</key>
	<string>581189176802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dominik.grafik.chaat</string>
	<key>PROJECT_ID</key>
	<string>chaat-b7940</string>
	<key>STORAGE_BUCKET</key>
	<string>chaat-b7940.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:581189176802:ios:372a1d172bcd2a21</string>
	<key>DATABASE_URL</key>
	<string>https://chaat-b7940.firebaseio.com</string>
</dict>
</plist>